.popup__input {
  margin: 8px 0 17px;
  padding: 0 0 8px;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #1a1b22;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.3);
  width: 100%;
  outline: none;
}

.popup__input:focus {
  border-bottom-color: #000;
}