.card__title {
  margin: 12px 0 0;
  font-size: 26px;
  line-height: 30px;
  max-height: 60px;
  overflow: hidden;
}

@media screen and (max-width: 1100px){
  .card__title {
    font-size: 22px;
    line-height: 24px;
    max-height: 72px;
  }
}

@media screen and (max-width: 600px){
  .card__title {
    margin: 10px 0 0;
    line-height: 26px;
    max-height: 52px;
  }
}